.imagen {
  width: 200px;
  height: auto;  
}

.listaproducto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

.tituloh1 {
  text-align: center;
  color: red;
  margin: 50px;
}

.producto {
  background-color: white;
  list-style-type: none;
  border-radius: 5%;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.body {
  background-color: gray;
}